/* Colors */
@use "colors" as c;

/* Fonts */
@use "fonts" as f;

.rental {
  width: 95%;
  margin-top: 32px;
  margin-left: 28px;
  border-radius: 8px;
  box-shadow: 0px 12px 12px 12px rgba(51, 51, 51, 0.05);

  &_head {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 12px;

    &_title {
      font-size: f.$fonts-16px;
      font-weight: 600;
      color: c.$Black;
    }

    &_filter {
      display: inline-flex;
      gap: 8px;
      padding-right: 8px;

      &_text {
        font-size: f.$fonts-14px;
        font-weight: 500;
        color: c.$Gray-02;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
  }

  thead,
  th {
    color: c.$Gray-02;
  }

  th,
  td {
    padding: 8px;
  }

  th,
  td {
    text-align: center;
  }

  th {
    font-size: f.$fonts-14px;
    font-weight: 300;
    color: c.$Gray-02;
    text-align: start;
  }

  th:first-child,
  td:first-child {
    font-size: f.$fonts-12px;
    font-weight: 300;
    color: c.$Gray-02;
  }

  th:not(:first-child),
  td:not(:first-child) {
    padding-left: 26px; /* 26px spacing between 1st and 2nd column */
    font-weight: 400;
    font-size: f.$fonts-14px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    padding-right: 32px; /* 32px spacing between 2nd and 3rd column */
  }

  th:nth-child(3),
  td:nth-child(3) {
    padding-right: 64px; /* 64px spacing between 3rd and 4th column */
  }

  &_table {
    &_driver {
      display: flex;
      align-items: center;
      gap: 16px;

      &_image {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
      }

      &_name {
        font-size: f.$fonts-16px;
        font-weight: 400;
        color: c.$Black;
      }
    }

    &_status {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: f.$fonts-16px;
      font-weight: 300;
      color: c.$Gray-02;

      &_green {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 4px;
        background-color: green;
      }
    }

    &_earning {
      font-size: f.$fonts-16px;
      font-weight: 300;
      color: c.$Gray-02;
    }

    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      background-color: #007bff;
      color: #fff;
      border: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:focus {
        background-color: #0b5fd4;
        opacity: 1;
      }
    }
  }
}
