.dashboard {
  width: 100%;
  display: flex;

  &_left {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
  }

  &_right {
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
  }
}

//responsive

@media (max-width: 1024px) {
  .dashboard {
    display: block;

    &_left {
      width: 100%;
    }

    &_right {
      width: 100%;
    }
  }
}
