.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;

  &_main_link {
    display: flex;
    flex-direction: column;
  }

  &_report_link {
    display: flex;
    flex-direction: column;
  }
}
